/* Add here all your CSS customizations */
@font-face{
	font-family:IRANSansWeb;src:url('fonts/IRANSansWeb(FaNum).ttf') format('truetype'),url('fonts/IRANSansWeb(FaNum).woff') format('woff'),url('fonts/IRANSansWeb(FaNum).eot') format('eot');
}
body{
	font-family: IRANSansWeb !important;
}
html{
	font-family: IRANSansWeb !important;
}
.header-body{
	direction: ltr !important;
}
.owl-carousel{
	direction: ltr !important;
}
#mainNav{
	direction: rtl;
}
.custom-top-title-box{
	text-align: right;
}
.sliderText{
	margin-top: 14px;
}
.custom-bar{
	text-align: right;
}
.eventsMarginTop{
	margin-top: 40px;
	margin-bottom: 0px;
}
.sort-source{
	direction: ltr;
}
.ovaem_events_filter_content .ova-item .ova_thumbnail {
	text-align: center;
	position: relative;
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail img {
	border-radius: 0;
}
.ovaem_events_filter_content .ova-item .ova_thumbnail img {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	width: 100%;
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .date {
	position: absolute;
	top: 35px;
	left: 0;
	width: auto;
	text-align: left;
	background: #fff;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .date {
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .venue {
	bottom: 35px;
	top: auto;
	left: 15px;
	right: 15px;
	text-align: right;
	width: auto;
}
.ovaem_events_filter_content .ova-item .ova_thumbnail .venue {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 0;
	width: 100%;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	visibility: hidden;
	z-index: 1;
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .venue span {
	background-color: rgba( 72,98,196, 0.5 );
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .venue span {
	display: inline-block;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .time {
	bottom: 10px;
	right: 10px;
	left: auto;
}
.ovaem_events_filter_content .ova-item .time {
	width: 90px;
	height: 90px;
	word-wrap: break-word;
	text-align: center;
	margin: 0 auto;
	border-radius: 100%;
	color: #fff;
	padding-top: 34px;
	background: #f53f7b;
	bottom: -35px;
	left: 50%;
	margin-left: -35px;
	z-index: 1;
	position: absolute;
}
.ovaem_events_filter_content .ova-item .ova_thumbnail::after {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: "";
	background-color: transparent;
}
.ovaem_events_filter_content .ova-item.style3:hover .ova_thumbnail::after {
	border-radius: 0;
	/*background-color: rgba(0, 0, 0, 0.8);*/
}
.ovaem_events_filter_content .ova-item:hover .ova_thumbnail::after {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	/*background-color: rgb(47 27 27 / 0%);;*/
}
.ovaem_events_filter_content .ova-item.style3:hover .ova_thumbnail .time {
	/*display: none;*/
	/*visibility: hidden;*/
}
.ovaem_events_filter_content .ova-item.style3 .ova_thumbnail .venue {
	bottom: 90px;
	top: auto;
	left: 15px;
	right: 15px;
	text-align: center;
	width: auto;
}
.ovaem_events_filter_content .ova-item:hover .ova_thumbnail .venue {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	visibility: visible;
}
.ovaem_events_filter_content .ova-item .ova_thumbnail .venue {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: 0;
	width: 100%;
	line-height: 24px;
	font-size: 14px;
	color: #fff;
	visibility: hidden;
	z-index: 1;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content {
	border-radius: 0;
	text-align: right;
}
.ovaem_events_filter .ovaem_events_filter_content .ova-item .wrap_content {
	border: 1px solid #dfdfdf;
	padding: 0 15px;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content h2 {
	padding-top: 20px;
	text-align: center;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content h2 a {
	text-transform: uppercase;
	color: #242b46;
	font-size: 16px;
	direction: rtl;
	text-align:right;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content .except {
	margin-bottom: 15px;
}
.ovaem_events_filter_content .ova-item .wrap_content .except {
	padding-top: 10px;
	font-weight: normal;
	line-height: 24px;
	margin-bottom: 60px;
	color: #666;
}
.ovaem_events_filter_content .ova-item .wrap_content {
	border: 1px solid #dfdfdf;
	padding: 0 15px;
	border-top: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content .more_detail {
	margin-top: 0px;
	position: relative;
	bottom: 0;
	left: 0;
	width: 50%;
	display: inline-block;
	margin-bottom: 20px;
}
.ovaem_events_filter .ovaem_events_filter_content .ova-item.style3 .wrap_content .more_detail .btn_link {
	display: flex;
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	padding-left: 0;
	padding-right: 5px;
	color: #000;
	font-weight: 500;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content .more_detail .btn_link i {
	padding-top: 2px;
	font-size: 18px;
	visibility: hidden;
	width: 0;
	-webkit-transition: all 300ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 300ms ease-in;
	-moz-transform: scale(1);
	transition: all 300ms ease-in;
	transform: scale(1);
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content .status {
	width: 48%;
	display: inline-block;
	text-align: left;
	text-transform: uppercase;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content .status {
	text-align: left;
	text-transform: uppercase;
}
.ovaem_events_filter_content .ova-item.style2 .wrap_content .venue i, .venues_slider .item .address span.icon i, .ova_service .icon, .ova_speaker_list_wrap .ova_speaker_list .content .job, .ova_speaker_list_wrap.style2 .ova_speaker_list:hover .content .job, .ova_speaker_list_wrap.style4 .ova_speaker_list:hover .content .wrap_info .job, .ova_map1 .content .info i, .ovaem_schedule .wrap_content .content_side .speaker_info .speaker_job, ul.ovaem_list_categories_widget li a:hover, .ovaem_list_events_widget ul li h3.widget_title a:hover, .ovaem_single_speaker .content .job, .ovaem_general_sidebar .widget.widget_categories ul li a:hover, .ova_venue_item .content .address i, .event_gallery_v1 .item .info .date, .woocommerce .ovaem_general_sidebar .widget.widget_product_categories ul li a:hover, .event_info .icon, .ovaem_schedule_single_event .ovaem_schedule .wrap_content .content_side .speaker_info .speaker_job, .ovaem_events_list .info .venue span i, .ovaem_general_sidebar .widget ul li a:hover, .ovaem_events_filter .ovaem_events_filter_content .ova-item .wrap_content .status, .ovaem_events_list .ova_thumbnail .event_status {
	color: #4862c4;
}
.ovaem_events_filter_content .ova-item .wrap_content .status {
	color: #4862c4;
	font-weight: 500;
}
.ovaem_events_filter_content .ova-item.style3 .wrap_content .venue_mobile {
	display: none;
}
.ovaem_events_filter_content .ova-item:hover .wrap_content {
	background-color: #f2f2f2;
}
.status > a{
	color: #4862c4;
}
.conference{
	margin-top: 40px;

}
.events_filter_show_nav {
	display: block;
}
.make_top.ovaem_events_filter .ovaem_events_filter_nav {
	text-align: right;
	margin: 0;
	margin-top: -49px;
}
.ovaem_events_filter_nav.style3 li {
	padding-right: 0px;
	padding-left: 15px;
}
.ovaem_events_filter_nav li {
	display: inline-block;
	padding: 0px 5px;
}
.ovaem_events_filter_nav.style3 li a:hover, .ovaem_events_filter .ovaem_events_filter_nav.style3 li.current a {
	border-bottom-color: #f53f7b;
}
a.ova-btn.ova-btn-rad-30{
	color: #000;
	font-weight: bolder;
}
.ovaem_events_filter_nav.style3 li a:hover, .ovaem_events_filter_nav.style3 li.current a {
	border-bottom-color: #f53f7b;
}
.ovaem_events_filter_nav.style3 li.current a {
	background-color: transparent;
	border-color: transparent;
	color: #000;
	border-bottom: 2px solid #ccc;
}
.ovaem_events_filter_nav.style3 li a:hover, .ovaem_events_filter_nav.style3 li.current a {
	border-bottom-color: #f53f7b;
}
.ovaem_events_filter_nav.style3 li a:hover {
	background-color: transparent;
	border-color: transparent;
	border-bottom: 2px solid #ccc;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
.ovaem_events_filter_nav.style3 li a:hover, .ovaem_events_filter_nav.style3 li.current a {
	border-bottom-color: #f53f7b;
}
.select_cat_mobile_btn{
	text-align: right;
}
.teamofitFilter{
	padding: 0px;
}
.ovaem_events_filter_nav.style3 li a {
	color: #969696;
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	text-transform: uppercase;
}
.venue.eventsIcons{
	bottom: 25px !important;
}
.marginBottomTeamofit{
	margin-bottom: 150px;
}
.textAlginRightTeamofit{
	text-align: right;
}
@media (max-width:767px){
	.sliderTitle{
		font-size: 40px;
	}
	.sliderText{
		margin-bottom: 10px !important;
	}
	.owl-carousel.custom-left-pos-1{
		margin-top: 0px !important;
	}
}
.teamofitbtn{
	background: #3c464f;
}
.teamofitTextAlignRight{
	text-align: right;
}
.modal-header .close{
	margin: -15px -15px -15px 0 !important;
}
.modal-footer{
	display: block;
}
.ovaem_events_filter_content{
	margin-top: 40px;
}
.style3{
	margin-top: 20px;
}
.registerModalTeamofit{
    display: none;
    
}
#registerBtn,#loginBtn{
    color: #fff;
    background: #3c464f; 
}
#mainNav > li:first-child{
    line-height: 47px;
}
#mainNav li:first-child > a > i{
    font-size: 17px;
}
.sort-source{
    direction: rtl;
    text-align: right;
    margin-top: 30px;
}
.sort-source a{
    color: #3c464f;
}
.headerindex{
	position: absolute !important;
}
html .background-color-secondary {
	background-color: #219cd2 !important;
}
html .background-color-primary {
	background-color: #333b48 !important;
}
.teamofit-direction-ltr{
	direction: ltr;
}
.teamofit-direction-rtl{
	direction: rtl;
}
.thumb-info-listing-type-detail {
	position: absolute;
	z-index: 2;
}
.agents {
	margin-bottom: 30px;
	position: relative;
	background: url("/img/agent-bg-blue.jpg");
	background-size: cover;
}
.agents::before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 95%;
	height: 95%;
	border: 1px solid #5a71a0;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.agents .owl-carousel .owl-item .agent-thumb img {
	border: 7px solid #FFF;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3);
}
.agents .owl-carousel .owl-item .agent-thumb {
	display: inline-block;
	width: 30%;
}
.agents .owl-carousel .owl-item .agent-infos {
	display: block;
}
.agents .owl-carousel .owl-item .agent-infos span {
	display: block;
	color: #aebbd6;
}
.agents .owl-carousel .owl-item .agent-infos span {
	display: block;
	color: #aebbd6;
}
.agents .owl-carousel .owl-nav {
	padding-bottom: 30px;
	padding-top: 20px;
}
.agents .owl-carousel .owl-nav .owl-prev::before {
	font-family: simple-line-icons;
	content: "\e07a";
}
.agents .owl-carousel .owl-nav .owl-prev {
	color: #2dc571 !important;
}
.agents .owl-carousel .owl-nav .owl-prev, .agents .owl-carousel .owl-nav .owl-next {
	font-size: 2em;
}
.agents .owl-carousel .owl-nav .owl-prev, .agents .owl-carousel .owl-nav .owl-next {
	border: none !important;
	font-size: 2em;
	padding: 0 !important;
	width: auto;
	height: auto;
}
.agents .owl-carousel .owl-nav .owl-next::before {
	font-family: simple-line-icons;
	content: "\e079";
}
.owl-carousel .owl-nav .owl-next::before {
	font-family: FontAwesome;
	content: "\f054";
	position: relative;
	left: 2px;
	top: 1px;
}
.agents .owl-carousel .owl-nav .owl-next {
	color: #FFF !important;
}
.agents .owl-carousel .owl-nav .owl-prev, .agents .owl-carousel .owl-nav .owl-next {
	font-size: 2em;
}
.agents .owl-carousel .owl-nav .owl-prev, .agents .owl-carousel .owl-nav .owl-next {
	border: none !important;
	font-size: 2em;
	padding: 0 !important;
	width: auto;
	height: auto;
}
.agents .owl-carousel.rounded-nav .owl-nav .owl-next:hover, .agents .owl-carousel.rounded-nav .owl-nav .owl-next.hover {
	color: #FFF !important;
}
.agents .owl-carousel .owl-nav .owl-prev:hover, .agents .owl-carousel .owl-nav .owl-next:hover {
	border: 0 !important;
}
.agents .owl-carousel .owl-nav .owl-prev:hover, .agents .owl-carousel .owl-nav .owl-next:hover {
	border: 0 !important;
}
.container-menu {
	max-width: 200px;
	background: #3c464f;
	margin: 0px 0px 40px 0px;
	padding: 10px 0px 20px 0px;
	border: 1px solid #111;
	border-radius: 4px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
}
.link {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	position: relative;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
	margin-left: 5%;
	cursor: pointer;
}
.link .text {
	text-shadow: 0px -40px 0px rgba(255, 255, 255, 1);
	transition: all 0.75s;
	transform: translateY(100%) translateZ(0);
	transition-delay: all 0.25s;
}
.link::after {
	content: '';
	position: absolute;
	width: 80%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	bottom: 50%;
	left: -100%;
	transition-delay: all 0.5s;
	transition: all 0.5s;
}
.link:hover .text, .link.hover .text {
	text-shadow: 0px -40px 0px rgba(255, 255, 255, 0);
	transform: translateY(0%) translateZ(0) scale(1.1);
	font-weight: 600;
}
.link:hover::after, .link.hover::after {
	left: 100%;
}
.container-body {
	width: 100%;
	background: #3c464f;
	border: 1px solid #111;
	border-radius: 4px;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.75);
	padding-top: 10px;
	padding-bottom: 40px;
}
.teamofitMarginTop {
	margin-top: 10px;
}

.filtering-background{
	min-height: 400px;
	background: #242b32;
	border-radius: 6px;
	padding: 15px;
}
.filtering-background > h4 {
	text-align: right;
	padding-right:10px;
	padding-top: 10px;
	color: #fff;
	padding-bottom: 15px;
	padding-bottom: 80px;
}
.card{
	direction: rtl;
	text-align: right;
}
.card-header{
	padding: 10px !important;
	background-color: rgb(159 152 152 / 6%);
}
.card-header > h5 > button{
	color: #000 !important;
	font-weight: bolder;
}
.btn-link:hover{
	text-decoration: none;
}
/* The container */
.container-label {
	display: block;
	position: relative;
	padding-left: 35px;
	padding-bottom: 10px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	border-bottom: 1px solid #eee;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container-label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container-label:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-label input:checked ~ .checkmark {
	background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container-label input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  body{
	  background: #eee;
  }
.main-box-coaches{
	background: #eee;
	direction: rtl;
	text-align: right;
	padding-bottom: 25px;
	margin-top: 20px;
	transition: all 2s ease;
}
.main-box-coaches > .btn-primary{
	margin-right: 15px;
	margin-top: 15px;
}
.main-box-coaches p{
	padding: 15px;
	text-align: center;
}
.more-details{
	padding: 15px;
	margin-bottom: 15px;
}
.more-details > i{
	font-size: 9px;
    line-height: 37px;
}
.dashboard-box {
	height: 300px;
	background: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 10px 0px #000;
}
.dashboard-box-header {
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgba(26, 54, 126, 0.125);
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0.625rem;
	height: 3.5rem;
	font-size: 1.1rem;
}
.dashboard-btn{
	color: #444054;
	padding: 0.25rem 1rem;
	font-size: 0.8rem;
	line-height: 1.5;
	border-radius: 0.2rem;
	border-width: 2px;
	cursor: pointer;
	border:2px solid #444054;
}
.dashboard-btn:hover{
	background: #444054;
	color: #fff !important;
}
.dashboard-box-btn{
	margin-right: auto;
	white-space: nowrap;
	margin-left: 10px;
}
.dashboard-box ul{
	list-style: none;
	text-align: right;
	direction: ltr;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
}
.dashboard-box ul > li{
		border-right: 0;
		border-left: 0;
		border-radius: 0;
		position: relative;
		display: block;
		padding: 0.75rem 1.25rem;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.125);
}
.widget-heading{
	opacity: .8;
	font-weight: bold;
	direction: rtl;
}
.widget-subheading{
	opacity: .5;
	direction: rtl;
}
.indicator{
		position: absolute;
		width: 4px;
		height: 60%;
		border-radius: 0.3rem;
		right: 0.625rem;
		top: 20%;
		opacity: .6;
		transition: opacity .2s;
		background-color: #f7b924 !important;
}
.scroll-box {
	overflow-y: scroll;
	height: 246px;
	--scrollbarBG: #CFD8DC;
	--thumbBG: #90A4AE;
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG)
}

.scroll-box::-webkit-scrollbar {
	width: 3px;
  }

  .scroll-box::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
  }
  .scroll-box::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
  }
  .bg-req{
	  display: flex;
	  align-items: center;
	  direction: rtl;
  }
  .img-req > img{
	  border-radius: 50% !important;
	  margin-left: 10px;
  }
  .title-req > .widget-heading{
	  font-size: 0.88rem;
  }
  .title-req > .widget-subheading{
	  font-size: 12px;
  }
  .btn-req{
	  margin-right: auto;
  }
  .btn-req > .btn{
	  padding: 6px;
	  font-size: 11px;
  }
  .navbar-panel{
	  display: flex;
	  height: 60px;
	  align-items: center;
	  border-bottom: 1px solid #fff;
	  margin-bottom: 40px;
  }
  .notif-icon{
	  width: 44px;
	  height: 44px;
	  text-align: center;
	  background-color: #fff ;
	  border-radius: 40px;
	  line-height: 44px;
	  cursor: pointer;
	  margin-right: 5px;
  }
  .notif-icon:hover{
	  background-color: #000;
	  color: #fff;
  }
  .navbar-panel-left{
	  display: flex;
  }
  .notif-icon a:first-child{
	  margin-right: 0px;
  }
  .navbar-panel-right{
	  display: flex;
  }
  .navbar-panel-right > .notif-icon{
	  border-radius: 1px;
  }
  .indicator-events{
	  background-color: #3f6ad8 !important;
  }
  .location-title{
	  padding: 0 !important;
	  padding-right: 15px !important;
	  text-align: right !important;
  }
.team-item .image-wrapper {
	display: block;
	overflow: hidden;
}
.team-item .image-wrapper img {
	-webkit-transition: ease transform 300ms;
	-moz-transition: ease transform 300ms;
	transition: ease transform 300ms;
}
.team-item .team-infos {
	position: relative;
	background: #FFF;
	padding: 25px;
}
.team-item .team-infos .share {
	position: absolute;
	bottom: calc(100% - 22px);
	left: 15px;
	width: 42px;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: ease height 300ms;
	-moz-transition: ease height 300ms;
	transition: ease height 300ms;
}
.team-item .team-infos .share i.fa-share-alt {
	position: absolute;
	background: #58605a;
	bottom: 0;
	left: 0;
	border-radius: 50px;
	opacity: 1;
	z-index: 1;
}
.team-item .team-infos .share .share-icons {
	text-align: center;
	padding-bottom: 42px;
	border-radius: 50px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: ease transform 300ms;
	-moz-transition: ease transform 300ms;
	transition: ease transform 300ms;
}
.team-item .team-infos .share::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	background: #FFF;
	width: 100%;
	height: 22px;
}

.team-item .team-infos .team-member-desc {
	display: block;
	color: #777;
}
.team-item .team-infos .share i {
	display: block;
	color: #FFF;
	padding: 15px;
	opacity: 0.5;
	-webkit-transition: ease opacity 300ms;
	-moz-transition: ease opacity 300ms;
	transition: ease opacity 300ms;
}
.team-item .team-infos .share:hover i.fa-share-alt {
	background-color: #4dbb6d;
}
.team-item .team-infos .share:hover i.fa-share-alt {
	background: #4dbb6d;
}
.team-item .team-infos .share:hover .share-icons {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.team-item .team-infos .share .share-icons {
	text-align: center;
	padding-bottom: 42px;
	border-radius: 50px;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: ease transform 300ms;
	-moz-transition: ease transform 300ms;
	transition: ease transform 300ms;
}
.team-item .team-infos .share i:hover {
	opacity: 1;
}
.team-item .team-infos .share i.fa-facebook {
	color: #4d70a8;
}
.team-item .team-infos .share i.fa-instagram {
	color: #964b00;
}
.team-item .team-infos .share i.fa-linkedin {
	color: #0077b5;
}

.custom-nav-button {
	display: inline-block;
	padding: 30px 10px;
	font-size: 1.2em;
	letter-spacing: -0.5px;
	line-height: 1.3;
	text-align: center;
}
.custom-nav-button i {
	float: right;
	font-size: 1.3em;
	margin-left: 5px;
	vertical-align: middle;
}
.background-color-light-teams-details{
	background: #fff !important;
}
.custom-section-padding {
	padding: 60px 0px;
}
.list-tertiary .fa.fa-chevron-left{
	background-color: #e2fdea !important;
	color: #000 !important;

}
article.blog-post .blog-post-image-wrapper .blog-post-date {
	position: absolute;
	top: 65%;
	left: 10px;
	font-size: 3em;
	text-align: center;
	line-height: 1;
	padding: 25px 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
article.blog-post .blog-post-image-wrapper .blog-post-date .month-year {
	display: block;
	font-size: 0.4em;
}
article.blog-post .blog-post-image-wrapper img {
	max-width: 95%;
}
.header-btn-lg::after {
	position: absolute;
	left: -1px;
	top: 50%;
	background: #dee2e6;
	width: 1px;
	height: 30px;
	margin-top: -15px;
	content: '';
	display: none;
}
.widget-content .widget-content-wrapper {
	display: flex;
	flex: 1;
	position: relative;
	align-items: center;
}
.widget-content .widget-content-left .widget-heading {
	opacity: .8;
	font-weight: bold;
	font-size: .88rem;
}
.widget-content .widget-content-left .widget-subheading {
	opacity: .5;
	font-size: 10px;
}
.app-header .header-user-info > .widget-subheading {
	font-size: .8rem;
}
.app-header .header-user-info > .widget-heading, .app-header .header-user-info > .widget-subheading {
	white-space: nowrap;
}
.dropdown-menu.dropdown-menu-lg {
	min-width: 22rem;
}
.dropdown-menu.dropdown-menu-right {
	right: 0 !important;
}
.dropdown-menu {
	box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
	margin: .125rem;
}
.dropdown-menu .dropdown-menu-header, .dropdown-menu .menu-header-image, .dropdown-menu .dropdown-menu-header-inner {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.dropdown-menu-header {
	color: #fff;
	margin-top: -.65rem;
	position: relative;
	z-index: 6;
}
.dropdown-menu-header .dropdown-menu-header-inner {
	margin: -1px -1px 0;
	padding: 1.5rem .5rem;
	position: relative;
}
.dropdown-menu-header .menu-header-content.text-left {
	padding-left: .5rem;
}
.dropdown-menu-header .menu-header-content {
	text-align: center;
	position: relative;
	z-index: 10;
}
.widget-content .widget-content-wrapper {
	display: flex;
	flex: 1;
	position: relative;
	align-items: center;
}
.widget-content .widget-content-right {
	margin-left: auto;
}
.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.btn-focus.btn-shadow {
	box-shadow: 0 0.125rem 0.625rem rgba(68,64,84,0.4),0 0.0625rem 0.125rem rgba(68,64,84,0.5);
}
.btn.btn-pill.btn-wide, .btn.btn-pill {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.btn-focus {
	color: #fff;
	background-color: #444054;
	border-color: #444054;
}
.dropdown-menu-header .menu-header-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 8;
	opacity: .25;
	filter: grayscale(80%);
	background-size: cover;
}
.scroll-area-xs {
	height: 150px;
	overflow-x: hidden;
}
.scrollbar-sidebar, .scrollbar-container {
	position: relative;
	height: 100%;
}
.ps {
	overflow: hidden !important;
	overflow-anchor: none;
	touch-action: auto;
}
.flex-column {
	flex-direction: column !important;
}
.nav-link {
	display: flex;
	align-items: center;
	transition: background-color 0.3s ease, color 0.3s ease;
	cursor: pointer;
}
.badge {
	font-weight: bold;
	text-transform: uppercase;
	padding: 5px 10px;
	min-width: 19px;
}
.badge-info {
	color: #fff;
	background-color: #16aaff;
}
.badge-pill {
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}
.nav-item.nav-item-header {
	text-transform: uppercase;
	font-size: .73333rem;
	color: #6c757d;
	font-weight: bold;
	padding: .5rem 1rem;
}
.dropdown-menu .grid-menu {
	margin-bottom: -.65rem;
	padding: 1px;
}
.grid-menu .btn {
	display: block;
	border: 0;
	min-width: 100%;
}
.btn-icon-vertical .btn-icon-wrapper {
	display: block;
	font-size: 200%;
	margin: 5px 0;
	opacity: .6;
}
.dropdown-menu .grid-menu [class*="col-"] {
	padding: .65rem;
}
.grid-menu [class*="col-"] {
	border-right: #dee2e6 solid 0;
	border-bottom: #dee2e6 solid 1px;
}
.nav-item.nav-item-divider {
	margin: .5rem 0;
	height: 1px;
	overflow: hidden;
	background: #dee2e6;
}
.nav-item.nav-item-btn {
	padding: .5rem 1rem;
}
.btn-sm.btn-wide, .btn-group-sm > .btn-wide.btn {
	padding: .25rem 1rem;
	font-size: .8rem;
	line-height: 1.5;
	border-radius: .2rem;
}
.grid-menu [class*="col-"]:nth-child(n) {
	border-right-width: 1px;
}
.dropdown-menu .grid-menu [class*="col-"] {
	padding: .65rem;
}
.hide-on-desktop{
	display: none;
}
@media (max-width: 767px){
	.hide-on-mobile{
		display: none;
	}
	.hide-on-desktop{
		display: none;
	}
}
#login-box-menu {
	background: #f53f7b;
	border-radius: 3px;
}








